*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{

}
p{
    font-family: "Kumbh Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.gridContainer{
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    
} 
.flex{
    display: flex;
}

h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: #3575c8;
    padding-bottom: 20px;
}
.header{
    justify-content: space-between;
    align-items: center;
    grid-area: header;

}

.header__logoTitle{
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.header__logo{
    width: 50px;
}

.header__title{
    font-size: 40px;
    color: #3575c8;
}

.containerUserMenu{
    align-items: center;
    gap: 10px;
}
.header__user{
    flex-direction: row;
    align-items: center;
}

.userImg{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border: 2px solid #3575c8;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 1px 5px 15px  #000000;
    
}

.containerMenuButton{
    padding-right: 20px;
}
.header__menuButton{
   border: none;
   background-color: transparent;
    font-size: 30px;
}
.navContainer{
    display: none; /*No mostrar menu*/
    grid-area: navContainer;
    
}
.nav__list{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
}
.nav__item{
    border: medium solid #3575c8;
    width: 100%;
    padding: 30px;
    flex
}
main{
    grid-area: main;
}
.nav__item a{
    
}
.cover{
    background: linear-gradient(40deg, #5396e3 0%, #00367d 100%);
    padding: 60px;
    color: white;
    text-shadow: 2px 2px 7px black;
    border-radius: 20px;
    
}

.cover__title{
    font-size: 36px;
    margin-bottom: 20px;
}
.catalogoRapido{
    padding: 40px;
    background-image: url("/assets/img/fondoLibros.png");
    background-repeat: repeat;
    background-size: 200px;
    flex-direction: column;
}

.CatalogoRapido__galeria{
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.CatalogoRapido__card{
    padding: 20px;
    width: 250px;
    background: linear-gradient(40deg, #bac7d463 0%, #0b2b5478 100%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.tituloLibro{
    font-size: 18px;
    font-weight: bold;
}

.AutorLibro{
    font-size: 16px;
    color: gray;
}

.CatalogoRapido__card img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.catalogoRapido__button{
    background: linear-gradient(40deg, #5396e3 0%, #00367d 100%);    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.PrestamosRecientes{
    background-color: rgb(213, 222, 227);
}
.PrestamosRecientes__title{
    text-align: center;
    padding-top: 20px;}

.PrestamosRecientes__cards{
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.PrestamosRecientes__card{
    background-color: aliceblue;
    margin: 5px 20px 5px 20px;
    padding: 10px;
    border-radius: 20px;
    width: 80vw;
}

.footer{
    background: linear-gradient(40deg, #5396e3 0%, #00367d 100%);
    padding: 60px;
    color: white;
    text-shadow: 2px 2px 7px black;
    border-radius: 20px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-area: footer;
}

.footer__contact{

}

.footer__social{

}

@media (min-width: 768px) {
    .navContainer{
        display: block; /*Mostrar menu*/
    }
    .header__menuButton{
        display: none;
    }
    .gridContainer {
        display: grid;
        /* Columnas: una para la nav (ancho fijo) y la otra flexible para el main */
        grid-template-columns: 200px 1fr;
        /* Filas: header y footer con alto automático, contenido principal flexible */
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "navContainer main"
            "footer footer";
        min-height: 100vh; /* Asegura que el layout ocupe toda la altura de la pantalla */
    }
}